@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.


<SurveyPrompt Title="How is Blazor working for you?" />

<MudAlert Severity="Severity.Info">The reactor was fired up successfully</MudAlert>

